* {
  padding: 0;
  margin: 0;
}

#game {
  width: 600px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  /* margin-top: 50px; */
  box-sizing: border-box;
  background-image: url("img/startscreen.png");
  position: relative;
  background-size: contain;
}

#character {
  width: 100px;
  height: 100px;
  position: relative;
  background-image: url("img/pinguboard.png");
  background-repeat: no-repeat;
  background-position: center;
  top: 200px;
  left: 200px;
  /* background-color: aqua; */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#painz {
  width: 100px;
  height: 100px;
  top: 600px;
  position: relative;
  animation: none;
  animation-timing-function: linear;
  background-image: url("img/blocker-ice.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#gainz {
  width: 100px;
  height: 100px;
  left: 500;
  top: 600px;
  position: relative;
  /* background-color: green; */
  animation: none;
  animation-timing-function: linear;
  background-image: url("img/pick-gold.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

@keyframes slide {
  0% {
    top: -100px;
  }
  1000% {
    top: 1000px;
  }
}
@keyframes slide2 {
  0% {
    top: -100px;
  }
  1000% {
    top: 1000px;
  }
}

/* #white {
  width: 600px;
  height: 110px;
  position: absolute;
  top: 500px;
  background-color: white;
  z-index: 100;
} */

#frame {
  margin-top: 100px;
}

#button1 {
  width: 60px;
  height: 60px;
}
